<template>
  <b-col>
    <b-row v-if="isInvalid" class="d-flex justify-content-center">
      <b-col
        class="alert alert-danger"
        role="alert"
      >Error: username or password is incorrect. Please try again.</b-col>
    </b-row>
    <b-row v-if="networkError" class="d-flex justify-content-center">
      <b-col
        class="alert alert-danger"
        role="alert"
      >Error: did not receive a response from application. Please try again.</b-col>
    </b-row>

    <ValidationObserver ref="observer">
      <b-form
        slot-scope="{ validate }"
        @submit.prevent="validate().then(submitForm)"
        class="form"
        action="."
        method="post"
      >
        <ValidationProvider rules="required" name="Username">
          <b-form-group
            slot-scope="{ valid, errors }"
            id="UsernameInputGroup"
            label="Username"
            label-for="username"
          >
            <b-form-input
              id="username"
              name="username"
              type="text"
              v-model="username"
              required
              :state="errors[0] ? false : (valid ? true : null)"
              placeholder="Username"
              ref="usernameinput"
            ></b-form-input>
            <b-form-invalid-feedback id="usernameFeedback">{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider rules="required" name="Password">
          <b-form-group
            slot-scope="{ valid, errors }"
            id="EmailInputGroup"
            label="Password"
            label-for="password"
          >
            <b-form-input
              id="password"
              name="password"
              type="password"
              v-model="password"
              :state="errors[0] ? false : (valid ? true : null)"
              required
              placeholder="Password"
            ></b-form-input>
            <b-form-invalid-feedback id="passwordFeedback">{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <b-button type="submit" id="submit-btn" variant="primary">Submit</b-button>
      </b-form>
    </ValidationObserver>
  </b-col>
</template>

<script>
import axios, { AxiosResponse, AxiosError } from 'axios'
import { AUTH_URL, BASE_URL } from '@/conf.js'
import { ValidationObserver, ValidationProvider, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'

extend('required', required)

export default {
  name: 'login-form',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      authUrl: BASE_URL + AUTH_URL,
      username: '',
      password: '',
      isInvalid: false,
      networkError: false,
    }
  },

  methods: {
    focusLogin() {
      this.$refs.usernameinput.$el.focus()
    },

    saveAuth(username, token) {
      this.$store.dispatch('login', {
        username: username,
        token: token,
      })
      this.$cookie.set('heimlich-auth', token, { expires: 365 })
    },

    submitForm() {
      let me = this
      delete axios.defaults.headers.common['Authorization']
      this.$http
        .post(this.authUrl + '/token/login/', {
          username: me.username,
          password: me.password,
        })
        .then(response => {
          me.saveAuth(me.username, response.data.authToken)
          axios.defaults.headers.common['Authorization'] =
            'Token ' + response.data.authToken
          me.isInvalid = false
          me.networkError = false
          me.password = ''
          me.username = ''
          me.$router.push({ path: '/' })
        })
        .catch(error => {
          console.log('Error: ', error)
          if (error.response) {
            console.log('Gor erroneous response: ', error.response)
            me.isInvalid = true
            me.password = ''
          } else {
            me.networkError = true
            console.log('Error: did not got response at all.')
          }
        })
    },
  },

  created() {
    let me = this
    let token = this.$cookie.get('heimlich-auth')

    if (token) {
      axios.defaults.headers.common['Authorization'] = 'Token ' + token

      me.$http
        .get(BASE_URL + '/auth/users/me/')
        .then(response => {
          me.saveAuth(response.data.username, token)
          me.$router.push({ path: '/' })
        })
        .catch(error => {
          console.log('No token available, need to authenticate.')
        })
    }
  },

  mounted() {
    this.focusLogin()
  },
}
</script>
