<template>
  <b-col>
    <b-form class="form" action="." method="post">
      <b-button type="submit" id="submit-btn" variant="primary" @click.prevent="submitForm">Submit</b-button>
    </b-form>
  </b-col>
</template>
<script>
import axios, { AxiosResponse, AxiosError } from 'axios'
import { AUTH_URL, BASE_URL } from '@/conf.js'

export default {
  name: 'logout-form',
  data() {
    return {
      authUrl: BASE_URL + AUTH_URL,
    }
  },

  methods: {
    submitForm() {
      let me = this

      this.$http
        .post(this.authUrl + '/token/logout/')
        .then(response => {
          me.$store.dispatch('logout')
          me.$cookie.remove('heimlich-auth')
          me.$router.push({ path: '/' }).catch(error => {
            // catch an empty error
          })
        })
        .catch(error => {
          console.log('Error: ', error)
        })
    },
  },
}
</script>
