<template>
  <b-col>
    <h2 v-if="mode === 'tickets'">Tickets</h2>

    <draggable
      v-model="tickets"
      v-if="tickets.length > 0"
      class="ticket-list"
      :class="[mode]"
      @change="changed"
      :disabled="mode !== 'todo'"
    >
      <transition-group>
        <div v-for="ticket in tickets" :key="ticket.id" class="ticket-list-item">
          <ticket-list-item :ticket="ticket" :mode="mode"></ticket-list-item>
        </div>
      </transition-group>
    </draggable>
    <p v-else>
      <template v-if="mode === 'tickets'">No tickets.</template>
    </p>
  </b-col>
</template>
<script>
import draggable from 'vuedraggable'

import { BASE_URL } from '@/conf.js'
import TicketListItem from '@/components/TicketListItem'

export default {
  name: 'ticket-list',
  props: ['mode'],
  components: {
    draggable,
    TicketListItem,
  },
  computed: {
    tickets: {
      get() {
        if (this.mode === 'tickets') {
          return this.$store.getters.tickets
        } else {
          return this.$store.getters.todoItems
        }
      },
      set(value) {
        this.$store.commit('updateTickets', value)
      },
    },
  },
  methods: {
    changed(args) {
      let me = this
      if (args.moved) {
        this.$http
          .post(BASE_URL + '/api/tickets/move_to/', {
            pk: args.moved.element.id,
            to: args.moved.newIndex,
          })
          .catch(error => {
            console.log('Draggable error: ', error)
          })
      }
    },
  },
}
</script>
<style lang="sass">

.ticket-list
  list-style-type: none
  padding: 0

</style>