<template>
  <b-col>
    <b-form>
      <b-row>
        <b-col cols="10">
          <b-form-group>
            <b-form-input v-model="title" id="create-input"/>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-button id="add-btn" type="submit" variant="primary" @click.prevent="submitForm">Add</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-col>
</template>
<script>
import { BASE_URL } from '@/conf.js'

export default {
  name: 'ticket-create-form',
  data() {
    return {
      title: '',
    }
  },
  methods: {
    submitForm() {
      let me = this
      console.log('Form submitted')

      this.$http
        .post(BASE_URL + '/api/tickets/', {
          title: me.title,
          labels: [],
        })
        .then(response => {
          console.log('Response: ', response)
          me.title = ''
          me.$store.commit('addTicket', response.data)
        })
        .catch(error => {
          console.log('Error: ', error)
        })
    },
  },
}
</script>