<template>
  <b-form>
    <b-button
      :data-remove-btn="pk"
      class="remove-button"
      type="submit"
      variant="primary"
      @click.prevent="submitForm"
    >X</b-button>
  </b-form>
</template>
<script>
import { BASE_URL } from '@/conf.js'

export default {
  name: 'ticket-remove-form',
  props: ['pk'],
  methods: {
    submitForm() {
      let me = this

      this.$http
        .delete(BASE_URL + '/api/tickets/' + me.pk + '/', {
          id: me.pk,
        })
        .then(response => {
          me.$store.commit('removeTicket', me.pk)
        })
        .catch(error => {
          console.log('Error: ', error)
        })
    },
  },
}
</script>
<style lang="sass">
.remove-button
  margin-top: .5rem
  margin-bottom: .5rem
</style>