<template>
  <b-row>
    <b-col cols="10">
      <h4>{{ ticket.title }}</h4>
      <div class="meta" v-if="mode!=='todo'">
        <span class="ticket-id">#{{ ticket.id }}</span> &middot;
        <span v-for="label in ticket.labels" :key="label" class="label">{{ label }}</span>
      </div>
    </b-col>
    <b-col cols="2">
      <ticket-remove-form :pk="ticket.id"/>
    </b-col>
  </b-row>
</template>
<script>
import TicketRemoveForm from '@/components/TicketRemoveForm'

export default {
  name: 'ticket-list-item',
  props: ['ticket', 'mode'],
  components: {
    TicketRemoveForm,
  },
}
</script>
<style lang="sass">
.ticket-list-item
  h4
    font-size: 1.1em
    padding-bottom: 0
    margin-bottom: 0
    margin-top: 1rem
  .label
    margin-right: .5em
    padding: 2px 8px
    background: #eee
    border-radius: 10px
  

.ticket-list.todo
  .ticket-list-item
    border: 1px solid #ccc
    border-radius: 5px
    margin-top: .5rem
    padding-left: 1rem
    background: #fff
</style>