<template>
  <div id="app">
    <b-container fluid>
      <b-navbar toggleable="md" type="dark" variant="dark">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand to="/" exact id="nav-home-link">Heimlich</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item to="/todos" id="nav-todo-link">Todos</b-nav-item>
            <b-nav-item to="/about" id="nav-about-link">About</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav v-if="isAuthenticated" class="ml-auto">
            <b-nav-item-dropdown right>
              <template slot="button-content">
                <em>{{ username }}</em>
              </template>
              <b-dropdown-item to="/logout">Log Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <b-row>
        <router-view />
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState(['username']),

    isInited() {
      return this.$store.state.isInited
    },
    isAuthenticated() {
      return this.$store.state.isAuthenticated
    },
  },
  watch: {
    isAuthenticated() {
      if (this.isAuthenticated && !this.isInited) {
        this.$store.dispatch('initApp')
      }
    },
  },
}
</script>
