<template>
  <b-col>
    <h1 id="home-h">Heimlich Home</h1>
    <b-row>
      <ticket-create-form></ticket-create-form>
    </b-row>
    <b-row>
      <ticket-list mode="tickets"></ticket-list>
    </b-row>
  </b-col>
</template>

<script>
// @ is an alias to /src
import TicketList from '@/components/TicketList' // @ is an alias to /src
import TicketCreateForm from '@/components/TicketCreateForm'

export default {
  name: 'home',
  components: {
    TicketList,
    TicketCreateForm,
  },
}
</script>
