<template>
  <b-col>
    <h1>Log In</h1>
    <b-row>
      <login-form></login-form>
    </b-row>
  </b-col>
</template>

<script>
import LoginForm from '@/components/LoginForm' // @ is an alias to /src

export default {
  name: 'login',
  components: {
    LoginForm,
  },
}
</script>
