<template>
  <b-col>
    <h1>Log Out</h1>
    <b-row>
      <logout-form></logout-form>
    </b-row>
  </b-col>
</template>

<script>
import LogoutForm from '@/components/LogoutForm'

export default {
  name: 'logout',
  components: {
    LogoutForm,
  },
}
</script>
