<template>
  <b-col>
    <h1 id="todo-h">ToDo List</h1>
    <b-row>
      <ticket-create-form mode="todo"></ticket-create-form>
    </b-row>
    <b-row>
      <ticket-list mode="todo"></ticket-list>
    </b-row>
  </b-col>
</template>

<script>
import TicketList from '@/components/TicketList'
import TicketCreateForm from '@/components/TicketCreateForm'

export default {
  name: 'todo-list',
  components: {
    TicketList,
    TicketCreateForm,
  },
}
</script>
